{% extends "base.html" %}
{% block content %}

<h2  class="teal-text text-darken-4 center-align">Categories</h2>
  
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-small teal-text text-darken-4">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l3">
      <div class="card teal darken-4 center-align">
        <div class="card-content white-text">
          <span class="card-title">{{ category.category_name }}</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn-small green accent-4">Edit</a>
          <a href="#modal-{{ category.id }}" class="btn-small red modal-trigger">Delete</a>

          <!-- {{ url_for('delete_category', category_id=category.id) }} -->

          <!-- Modal -->
          <div id="modal-{{ category.id }}" class="modal">
            <div class="modal-content">
              <h4>Delete '{{ category.category_name }}' Category?</h4>
              <p>If you click yes, this category will be permanently deleted!</p>
            </div>
            <div class="modal-footer">
              <a href="{{ url_for('delete_category', category_id=category.id) }}" class="btn-small red accent-4">Delete</a>
              <a href="#" class="btn-small green accent-4 modal-close">Cancel</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
            

{% endblock %}